<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy_9001.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,94}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>enemy_9002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,154}}</string>
                <key>sourceSize</key>
                <string>{148,154}</string>
            </dict>
            <key>fight_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,150},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,82},{66,78}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{66,78}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{56,58}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{62,86}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{62,86}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{64,76}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{64,76}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{76,76}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,80},{66,60}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{66,60}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{64,76}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{64,76}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,156},{78,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,156},{78,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,158},{78,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{78,82}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,158},{78,80}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>fight_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,98},{56,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{56,68}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>node.png</string>
            <key>size</key>
            <string>{508,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e677af481fc54d0421fe3d61604fc69:1/1$</string>
            <key>textureFileName</key>
            <string>node.png</string>
        </dict>
    </dict>
</plist>
