<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_skin_101_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,181},{160,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
            <key>fight_skin_101_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,330},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_skin_102_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,336},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
            <key>fight_skin_102_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,340},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_skin_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,174},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>fight_skin_10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,181},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_skin_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,227}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{242,227}}</string>
                <key>sourceSize</key>
                <string>{262,239}</string>
            </dict>
            <key>fight_skin_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,466},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>fight_skin_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,459},{123,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,130}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>fight_skin_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{213,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,231}}</string>
                <key>sourceSize</key>
                <string>{213,231}</string>
            </dict>
            <key>fight_skin_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,343},{141,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,131}}</string>
                <key>sourceSize</key>
                <string>{141,131}</string>
            </dict>
            <key>fight_skin_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,343},{171,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,131}}</string>
                <key>sourceSize</key>
                <string>{171,131}</string>
            </dict>
            <key>fight_skin_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{173,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{173,226}}</string>
                <key>sourceSize</key>
                <string>{173,234}</string>
            </dict>
            <key>fight_skin_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,192},{136,190}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,190}}</string>
                <key>sourceSize</key>
                <string>{136,234}</string>
            </dict>
            <key>fight_skin_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,476},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>fight_skin_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,177},{161,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,174}}</string>
                <key>sourceSize</key>
                <string>{161,174}</string>
            </dict>
            <key>fight_skin_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,192},{159,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,159}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>fight_skin_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{216,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,172}}</string>
                <key>sourceSize</key>
                <string>{216,172}</string>
            </dict>
            <key>fight_skin_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,498},{115,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,144}}</string>
                <key>sourceSize</key>
                <string>{115,144}</string>
            </dict>
            <key>fight_skin_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,498},{115,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,144}}</string>
                <key>sourceSize</key>
                <string>{115,144}</string>
            </dict>
            <key>fight_skin_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{218,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,161}}</string>
                <key>sourceSize</key>
                <string>{218,161}</string>
            </dict>
            <key>fight_skin_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,344},{120,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,146}}</string>
                <key>sourceSize</key>
                <string>{120,146}</string>
            </dict>
            <key>fight_skin_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,222},{120,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,146}}</string>
                <key>sourceSize</key>
                <string>{120,146}</string>
            </dict>
            <key>fight_skin_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{219,188}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{219,188}}</string>
                <key>sourceSize</key>
                <string>{219,198}</string>
            </dict>
            <key>fight_skin_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,348},{125,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,136}}</string>
                <key>sourceSize</key>
                <string>{125,136}</string>
            </dict>
            <key>fight_skin_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,476},{125,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,137}}</string>
                <key>sourceSize</key>
                <string>{125,137}</string>
            </dict>
            <key>fight_skin_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{236,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,175}}</string>
                <key>sourceSize</key>
                <string>{236,175}</string>
            </dict>
            <key>fight_skin_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,176},{141,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,140}}</string>
                <key>sourceSize</key>
                <string>{141,140}</string>
            </dict>
            <key>fight_skin_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,318},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>fight_skin_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,2},{207,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,183}}</string>
                <key>sourceSize</key>
                <string>{207,183}</string>
            </dict>
            <key>fight_skin_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,488},{146,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>fight_skin_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{250,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,170}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>fight_skin_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,488},{125,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,160}}</string>
                <key>sourceSize</key>
                <string>{125,160}</string>
            </dict>
            <key>fight_skin_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,336},{125,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,160}}</string>
                <key>sourceSize</key>
                <string>{125,160}</string>
            </dict>
            <key>fight_skin_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,492},{114,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,160}}</string>
                <key>sourceSize</key>
                <string>{114,160}</string>
            </dict>
            <key>fight_skin_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{230,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,177}}</string>
                <key>sourceSize</key>
                <string>{230,177}</string>
            </dict>
            <key>fight_skin_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,463},{132,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,157}}</string>
                <key>sourceSize</key>
                <string>{132,177}</string>
            </dict>
            <key>fight_skin_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,187},{132,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{132,159}}</string>
                <key>sourceSize</key>
                <string>{132,177}</string>
            </dict>
            <key>fight_skin_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,179},{155,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,196}}</string>
                <key>sourceSize</key>
                <string>{155,196}</string>
            </dict>
            <key>fight_skin_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{142,215}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{142,215}}</string>
                <key>sourceSize</key>
                <string>{144,233}</string>
            </dict>
            <key>fight_skin_9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,343},{134,173}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,78},{134,173}}</string>
                <key>sourceSize</key>
                <string>{144,253}</string>
            </dict>
            <key>fight_skin_9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,353},{133,165}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{133,165}}</string>
                <key>sourceSize</key>
                <string>{155,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_skin.png</string>
            <key>size</key>
            <string>{2007,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a942b8f94237af747183302a89e849d:1/1$</string>
            <key>textureFileName</key>
            <string>fight_skin.png</string>
        </dict>
    </dict>
</plist>
