<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fight_btn_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,482},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>fight_btn_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,438},{76,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{76,42}</string>
            </dict>
            <key>fight_btn_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,914},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fight_btn_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,736},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{147,147}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>fight_btn_speed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,429},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>fight_coll.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,790},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fight_dir_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{275,275}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{275,275}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>fight_dir_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,884},{131,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,131}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>fight_djs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,162}}</string>
                <key>offset</key>
                <string>{0,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,264},{412,162}}</string>
                <key>sourceSize</key>
                <string>{426,426}</string>
            </dict>
            <key>fight_djs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,52},{202,260}}</string>
                <key>offset</key>
                <string>{-100,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{202,260}}</string>
                <key>sourceSize</key>
                <string>{426,426}</string>
            </dict>
            <key>fight_djs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,260},{167,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,324}}</string>
                <key>sourceSize</key>
                <string>{167,324}</string>
            </dict>
            <key>fight_djs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,52},{206,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,325}}</string>
                <key>sourceSize</key>
                <string>{206,325}</string>
            </dict>
            <key>fight_djs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{221,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,321}}</string>
                <key>sourceSize</key>
                <string>{221,321}</string>
            </dict>
            <key>fight_food_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,322},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_food_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,944},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_food_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,228},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_food_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,196},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_food_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,558},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_food_2_10_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,146},{142,142}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{142,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,885},{130,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{130,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,844},{144,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,768},{144,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,704},{144,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,698},{144,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,622},{144,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,581},{144,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,472},{148,138}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{148,138}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,850},{136,132}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{136,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,558},{138,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{138,146}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,558},{144,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,429},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,736},{146,136}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{146,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,586},{148,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{148,150}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_2_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{142,142}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{142,142}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fight_food_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,166},{84,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,93}}</string>
                <key>sourceSize</key>
                <string>{84,93}</string>
            </dict>
            <key>fight_god.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,314},{242,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{242,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fight_god2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{242,242}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{242,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>fight_hide1.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>fight_hide2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,768},{74,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,39}}</string>
                <key>sourceSize</key>
                <string>{74,39}</string>
            </dict>
            <key>fight_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,290},{146,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,34}}</string>
                <key>sourceSize</key>
                <string>{146,34}</string>
            </dict>
            <key>fight_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,768},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>fight_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,914},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>fight_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,166},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>fight_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,703},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>fight_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,260},{210,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,136}}</string>
                <key>sourceSize</key>
                <string>{210,136}</string>
            </dict>
            <key>fight_rank_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,290},{258,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,24}}</string>
                <key>sourceSize</key>
                <string>{258,24}</string>
            </dict>
            <key>fight_rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,443},{258,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,66}}</string>
                <key>sourceSize</key>
                <string>{258,66}</string>
            </dict>
            <key>fight_shady_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,526},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_shady_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,290},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_shady_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,526},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>fight_shield1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,919},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>fight_shield2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,850},{51,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,67}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>fight_up_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{448,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,48}}</string>
                <key>sourceSize</key>
                <string>{448,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_ui.png</string>
            <key>size</key>
            <string>{1091,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b28c6aac1b39a5df3758b79850415e:1/1$</string>
            <key>textureFileName</key>
            <string>fight_ui.png</string>
        </dict>
    </dict>
</plist>
