<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,50},{277,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,46}}</string>
                <key>sourceSize</key>
                <string>{277,46}</string>
            </dict>
            <key>kill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{277,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,46}}</string>
                <key>sourceSize</key>
                <string>{277,46}</string>
            </dict>
            <key>kill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{440,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{440,90}}</string>
                <key>sourceSize</key>
                <string>{444,90}</string>
            </dict>
            <key>kill_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{226,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,52}}</string>
                <key>sourceSize</key>
                <string>{226,52}</string>
            </dict>
            <key>kill_tip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,56},{226,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,52}}</string>
                <key>sourceSize</key>
                <string>{226,52}</string>
            </dict>
            <key>kill_tip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{226,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,52}}</string>
                <key>sourceSize</key>
                <string>{226,52}</string>
            </dict>
            <key>kill_tip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,56},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,56},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,56},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,56},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>kill_tip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,56},{120,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>kill_tip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,56},{226,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,52}}</string>
                <key>sourceSize</key>
                <string>{226,52}</string>
            </dict>
            <key>kill_tip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{226,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,52}}</string>
                <key>sourceSize</key>
                <string>{226,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kill_tip.png</string>
            <key>size</key>
            <string>{1787,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaec554722a0894df503347482016e73:1/1$</string>
            <key>textureFileName</key>
            <string>kill_tip.png</string>
        </dict>
    </dict>
</plist>
